body {
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  font-size: 15px;
  font-family: Outfit, sans-serif;
}

.qr-code {
  width: 250px;
  height: 100%;
  border-radius: 8px;
}

.attribution { 
  font-size: 11px;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}